$background-white: #FFFFFF;
$background-beige: #F5F5F5;
$background-creem: #FFF6de;
$mercari-red: #EA352D;
$text-white: #FFFFFF;
$text-black: #333333;
$link-skybule: #0099e8;
$icon-gray: #cccccc; 
$icon-pink: #ef5185;
$icon-yellow: #fba933;
$comment-gray: #A9A9A9;
$facebook-blue: #385185;
$pinterest-red: #aa262a;
$icon-gray: #cccccc;
