$background-white: #FFFFFF;
$background-beige: #F5F5F5;
$background-gray: #EEEEEE;;
$mercari-red: #EA352D;
$text-white: #FFFFFF;
$text-black: #333333;
$link-skyblue: #0099e8;
$icon-gray: #cccccc;
$list-hover-gray: #FAFAFA;
$border-gray:#EEEEEE;