$background-white: #FFFFFF;
$background-beige: #F5F5F5;
$background-creem: #FFF6de;
$background-gray: #EEEEEE;;
$mercari-red: #EA352D;
$text-white: #FFFFFF;
$text-black: #333333;
$link-skyblue: #0099e8;
$link-facebook: #385185;
$line-thinblack: #f5f5f5;
$icon-gray: #cccccc;
$icon-pink: #ef5185;
$icon-yellow: #fba933;
$comment-gray: #A9A9A9;
$facebook-blue: #385185;
$pinterest-red: #aa262a;
$list-hover-gray: #FAFAFA;
$border-gray:#EEEEEE;
$border-skyblue: #0099e8;
$notice-text: #888;
$any-gray: #DADADA;
$google-frame: #979797;
$flash-green: #dff0d8;
$flash-success: #468847;

.logo-opacity:hover{
  opacity: 0.7;
}
