* {
  box-sizing: border-box;
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
}

a {
  text-decoration: none;
}

input[type="text"]:focus, textarea:focus{
  outline: 0;
  border-color: $border-skyblue;
}