* {
  box-sizing: border-box;
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
}

a {
  text-decoration: none;
}

input[type="text"]:focus, textarea:focus, select:focus, input:focus{
  outline: 0;
  border-color: $border-skyblue!important;
}


.hide {
  display: none;
}

.clearfix:after{
    content: "";
    clear: both;
    display: block;
}
.clearfix {
  display: block;
}

@mixin registration_wrapper(){
  width: 100vw;
  min-height: 100vh;
  background-color: $background-beige;
  padding: 0 0 220px;
  position: relative;
}

@mixin registration_border_top_set(){
  border-top-color: $line-thinblack;
  border-top-style: solid;
  border-top-width: 1px;
}

@mixin all_center_with_absolute(){
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

@mixin registration_input_form(){
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 5px;
  outline: 0;
  border: 1px solid #ccc;
}

@mixin require-or-non-require-msg(){
  display: inline-block;
  font-weight: normal;
  width: 32px;
  height: 19px;
  font-size: 12px;
  line-height: 19px;
  border-radius: 2px;
  text-align: center;
  margin-left: 8px;
  &-red{
    color: white;
    background-color: $mercari-red;
  }
  &-gray{
    color: white;
    background-color: $any-gray;
  }
}

@mixin identification_pulldown_input{
  margin-top: 8px;
  height: 48px;
  padding: 10px;
  border-radius: 5px;
  outline: 0;
  border: 1px solid #ccc;
  background-color: $background-white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-rtl-ordering: logical;
}