#input-payment
  .registration__main--content
    .registration__main--content--inner
      ニックネーム
      .registration__main--content--inner--msg.registration__main--content--inner--msg-red
        必須
      = f.text_field :nickname, placeholder: "例）メルカリ太郎", class: "registration__main--content--inner--input registration__main--content--inner--input-full"