= render 'shared/global_header'
-# FIXME: パンくずリスト実装時に_breadcrumb_list.html.hamlに共通化する
-# = render 'shared/breadcrumb_list'
= render 'shared/breadcrumb_list_mypageprofile'
= render 'shared/global_footer'
= render 'shared/sell_button'