%nav.breadcrumb
  %ul.breadcrumb__list
    %li.breadcrumb__list__piece
      =link_to '/', class: "breadcrumb__list__piece__link" do
        %span メルカリ
      %i.fa.fa-angle-right.breadcrumb__list__piece__arrow{"aria-hidden": "true"}
    %li.breadcrumb__list__piece.breadcrumb__list__piece-bold マイページ