%footer.main-footer
  .main-footer__ads
  .main-footer__info
    %nav.main-footer__info__nav
      .main-footer__info__nav__about
        %h2.main-footer__info__nav__title メルカリについて
        %ul
          %li.main-footer__info__nav__text.main-footer__info__nav__text__top 会社概要（運営会社）
          %li.main-footer__info__nav__text 採用情報
          %li.main-footer__info__nav__text プレスリリース
          %li.main-footer__info__nav__text 公式ブログ
          %li.main-footer__info__nav__text メルカリロゴ利用ガイドライン
          %li.main-footer__info__nav__icon
            %i.fa.fa-twitter.fa-2x{"aria-hidden": "true"}
          %li.main-footer__info__nav__icon
            %i.fa.fa-facebook-official.fa-2x{"aria-hidden": "true"}
      .main-footer__info__nav__help
        %h2.main-footer__info__nav__title ヘルプ＆ガイド
        %ul
          %li.main-footer__info__nav__text.main-footer__info__nav__text-top メルカリガイド
          %li.main-footer__info__nav__text らくらくメルカリ便
          %li.main-footer__info__nav__text ゆうゆうメルカリ便
          %li.main-footer__info__nav__text 大型メルカリ便
          %li.main-footer__info__nav__text 車体取引ガイド
          %li.main-footer__info__nav__text メルカリあんしん・あんぜん宣言！
          %li.main-footer__info__nav__text 偽ブランド品撲滅への取り組み
          %li.main-footer__info__nav__text メルカリボックス
      .main-footer__info__nav__rule
        %h2.main-footer__info__nav__title プライバシーと利用規約
        .main-footer__info__nav__rule__left
          %ul
            %li.main-footer__info__nav__text.main-footer__info__nav__text-top プライバシーポリシー
            %li.main-footer__info__nav__text メルカリ利用規約
            %li.main-footer__info__nav__text あんしんスマホサポート制度に関する利用特約
            %li.main-footer__info__nav__text コンプライアンスポリシー
        .main-footer__info__nav__rule__right
          %ul
            %li.main-footer__info__nav__text.main-footer__info__nav__text-top 個人データの安全管理に係る基本方針
            %li.main-footer__info__nav__text 特定商取引に関する表記
            %li.main-footer__info__nav__text 資金決済法に基づく表示
            %li.main-footer__info__nav__text 法令順守と犯罪抑止のために
      .main-footer__info__nav__lang
        %h2.main-footer__info__nav__title 国
        %ul
          %li.main-footer__info__nav__text.main-footer__info__nav__text-top 日本
          %li.main-footer__info__nav__text United States
    .main-footer__info__bottom
      =link_to image_tag('logo-white.svg', size: '124x33', class: "main-footer__info__bottom__logo__img"), '/', class: "main-footer__info__bottom__logo"
      %span.main-footer__info__bottom__copyright
        %small © 2019 Mercari（サンプル）