%header.main-header
  .main-header__inner
    .main-header__inner__top
      =link_to image_tag('logo.svg', size: '134x36', class: "main-header__inner__top__logo__img"), '/', class: "main-header__inner__top__logo"
      =form_with url:'/', method: :get, local: true , html: {class: "main-header__inner__top__search"} do |f|
        = f.text_field  :keyword, class: "main-header__inner__top__search__text", placeholder: "何かお探しですか？"
        = f.button class: "main-header__inner__top__search__button" do
          %i.fa.fa.fa-search.fa-lg.main-header__inner__top__search__button__icon{"aria-hidden": "true"}
    %nav.main-header__inner__nav
      %ul.main-header__inner__nav__search
        %li.main-header__inner__nav__search__category
          =link_to '/', class: "main-header__inner__nav__search__category__link" do
            %i.fa.fa-list-ul.main-header__inner__nav__search__category__link__icon{"aria-hidden": "true"}
            %span カテゴリーから探す
        %li.main-header__inner__nav__search__brand
          =link_to '/', class: "main-header__inner__nav__search__brand__link" do
            %i.fa.fa-tag.fa-rotate-45.main-header__inner__nav__search__brand__link__icon{"aria-hidden": "true"}
            %span ブランドから探す
      %ul.main-header__inner__nav__menu
        -# ログインしていない時 --ここから--
        %li.main-header__inner__nav__menu__signup
          =link_to "新規会員登録", '/', class: "main-header__inner__nav__menu__signup__button"
        %li.main-header__inner__nav__menu__signin
          =link_to "ログイン", '/', class: "main-header__inner__nav__menu__signin__button"
        -# ログインしていない時 --ここまで--
        -# ログインしている時 --ここから--
        -# ※いいね！一覧はマイページ関連のみ表示される --ここから--
        -# %li.main-header__inner__nav__menu__like
        -#   =link_to '/', class: "main-header__inner__nav__menu__like__link" do
        -#     %i.fa.fa-heart-o.main-header__inner__nav__menu__like__link__icon{"aria-hidden": "true"}
        -#     %span いいね！一覧
        -# -# ※いいね！一覧はマイページ関連のみ表示される --ここまで--
        -# %li.main-header__inner__nav__menu__notification
        -#   =link_to '/', class: "main-header__inner__nav__menu__notification__link" do
        -#     %i.fa.fa-bell-o.main-header__inner__nav__menu__notification__link__icon{"aria-hidden": "true"}
        -#     %span お知らせ
        -# %li.main-header__inner__nav__menu__todo
        -#   =link_to '/', class: "main-header__inner__nav__menu__todo__link" do
        -#     %i.fa.fa-check.main-header__inner__nav__menu__todo__link__icon{"aria-hidden": "true"}
        -#     %span やることリスト
        -# %li.main-header__inner__nav__menu__mypage
        -#   =link_to '/', class: "main-header__inner__nav__menu__mypage__link" do
        -#     =image_tag 'member_photo_noimage_thumb.png', width: '32', class: "main-header__inner__nav__menu__mypage__link__img"
        -#     %span マイページ
        -# ログインしている時 --ここまで--