%nav.registration__header--progress
  %ul.registration__header--progress-bar
    %li.through#filled
      会員情報
      .progress-status
      .progress-status_bar
    %li.active#filled
      電話番号認証
      .progress-status
      .progress-status_bar
    %li.address#filled
      お届け先住所入力
      .progress-status
      .progress-status_bar
    %li.payment#filled
      支払い方法
      .progress-status
      .progress-status_bar
    %li.end#filled
      完了
      .progress-status
      .progress-status_bar