.registration__header
  .registration__header--logo
    = link_to root_path do
      = image_tag "logo.svg", size: "185x49", alt: "mercari", class: "logo-opacity"
  = render 'shared/progress_status_bar'