.notification {
  .notice {
    background-color: $flash-green;
    color: $white;
    text-align: center;
  }

  .alert {
    background-color: $mercari_red;
    color: $white;
    text-align: center;
  }
}