=link_to do
  .top-content__items__list__header
    %h3.top-content__items__list__header__title ベビー・キッズ新着アイテム
    =link_to "もっと見る >", '', class: "top-content__items__list__header__more"
  .top-content__items__list__cards
    - @babies.each_with_index do |item, i|
      = link_to item_path(item.id) do
        %figure.top-content__items__list__cards__card__f
          = image_tag @babies_images[i], class: 'top-content__items__list__cards__card__f__img'
          %figcaption.top-content__items__list__cards__card__f__caption=item.name
          %span.top-content__items__list__cards__card__f__price= number_to_currency(@babies_prices[i], :unit => '¥', :precision =>0)