-# =link_to '/', class: "top-content__items__list__cards__card" do
-#   %figure.top-content__items__list__cards__card__f
-#     = image_tag @images[i], class: 'top-content__items__list__cards__card__f__img'
-#     -# =image_tag 'http://placehold.jp/60b5d1/ffffff/188x188.png', class: "top-content__items__list__cards__card__f__img"
-#     %figcaption.top-content__items__list__cards__card__f__caption パーカー
-#     %span.top-content__items__list__cards__card__f__price= number_to_currency(item, :unit => '¥', :precision =>0)
