.item-buy-container
  = render 'shared/logo_header'
  .confirm-buy
    %h2.confirm-buy__header 購入内容の確認
    =form_with url:'/', local: true ,class: "confirm-buy__item" do |f|
      .confirm-buy__item__content
        %h3.confirm-buy__item__content__head
          =image_tag @image_path, class: "confirm-buy__item__content__head__img"
          %p.confirm-buy__item__content__head__name=@item.name
        %p.confirm-buy__item__content__price
          =number_to_currency(@item.price, :unit => '¥', :precision =>0)
          -if @item.postage_burden_id == 1
            -# 1：送料込み
            %span.confirm-buy__item__content__price__fee 送料込み
          - else
            -# 2：着払い
            %span.confirm-buy__item__content__price__fee 着払い
        .confirm-buy__item__content__point ポイントはありません
        .confirm-buy__item__content__payment
          %span.confirm-buy__item__content__payment__title 支払い金額
          %span.confirm-buy__item__content__payment__amount=number_to_currency(@item.price, :unit => '¥', :precision =>0)
      = f.submit "購入する", class: "confirm-buy__item__buy", "data-disable-with": "処理中", name: "commit"
    .confirm-buy__delivery
      .confirm-buy__delivery__content
        %h3.confirm-buy__delivery__content__title 配送先
        .confirm-buy__delivery__content__info
          %p.confirm-buy__delivery__content__info__postalcode=@delivery_address.postalcode_with_mark
          %p.confirm-buy__delivery__content__info__address=@delivery_address.full_address
          %p.confirm-buy__delivery__content__info__name=@delivery_address.full_name
        .confirm-buy__delivery__content__edit
          =link_to '', class: "confirm-buy__delivery__content__edit__link" do
            %span.confirm-buy__delivery__content__edit__link__text 変更する
            %i.fa.fa-angle-right.confirm-buy__delivery__content__edit__link__arrow{"aria-hidden": "true"}
    .confirm-buy__payment
      .confirm-buy__payment__content
        %h3.confirm-buy__payment__content__title 支払い方法
        .confirm-buy__payment__content__creditcard
          %p.confirm-buy__payment__content__creditcard__number=@creditcard.masking_number
          %p.confirm-buy__payment__content__creditcard__limit=@creditcard.limit_year_and_month
          -# FIXME: 登録されているクレジットカードのブランドによってロゴを変える
          = image_tag "visa.svg", size: "49x20"
          -# = image_tag "master-card.svg", size: "34x20"
          -# = image_tag "saison-card.svg", size: "30x20"
          -# = image_tag "jcb.svg", size: "32x20"
          -# = image_tag "american_express.svg", size: "21x20"
          -# = image_tag "dinersclub.svg", size: "32x20"
          -# = image_tag "discover.svg", size: "32x20"
        .confirm-buy__payment__content__edit
          =link_to '', class: "confirm-buy__payment__content__edit__link" do
            %span.confirm-buy__payment__content__edit__link__text 変更する
            %i.fa.fa-angle-right.confirm-buy__payment__content__edit__link__arrow{"aria-hidden": "true"}
  = render 'shared/logo-footer'