.top-wrapper
  = render 'shared/global_header'
  .top-content
    .top-content__news
      .top-content__news__wrapper
        =image_tag 'index_keyvisual.png', class: "top-content__news__wrapper__img"
  = render 'shared/global_footer'